# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
/vendor/
/composer.lock
/web/img/campanas/*
/config/db.php
/web/img/fotosperfil/*
/web/img/imagenesFondo/*
/web/assets/
/web/img/imagenesContenidos/*
/web/img/gruposInteres/*