.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.profile-pic {
    border-radius: 100px;
    display: inline-block;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.user-profile-pic{
    border-radius: 100px;
    display: inline-block;
    float: left;
    height: auto;
    overflow: hidden;
    /*max-width: 150px;*/
}

.navbar{
    vertical-align: middle;
}

img.ajustada {
    display: block;
    margin: auto;
    max-width: 100%;
}

ul.cbp_tmtimeline > li > div.cbp_tmlabel img {
    max-width: 100%;
}

.file-drop-zone-title {
    font-size: 14px !important;
    padding: 0px !important;
}

.file-preview {
    padding: 0 !important;
}

.redactor-editor {
    min-height: 10px !important;
    padding: 0 !important;
}

.redactor-box {
    margin-bottom: 5px !important;
}

.redactor-placeholder::after {
    top: 5px !important;
}

/*div.dataTables_length select {
    padding: 7px;
}*/

.data-tables-group {
    background-color: #bcbcbc;
}

/*table.table.dataTable > thead{
    background-color: #585858;
    color: #ffffff;
}*/

table.table.table-striped.table-bordered > thead > tr > th{
    color: #0d638f !important;
}

/*
.time-line-description{
    background-color: #ecf0f2;
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 15px 100px;
}*/


.popover {
    border: 3px solid #ccc;
}
/*
.popover > .arrow::after {
    opacity: 0.5;
}

.popover.bottom > .arrow::after {
    border-bottom-color: #424242;
}

.popover.top > .arrow::after {
    border-top-color: #424242;
}

.popover.left > .arrow::after {
    border-left-color: #424242;
}

.popover.right > .arrow::after {
    border-right-color: #424242;
}

.popover-content {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}
*/

.input-prepend .add-on{
  position: inherit;
}

/*
::::::::::::::::::
MENU DESPLEGABLE
::::::::::::::::::
*/

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
    background-color: #fff;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    position: relative;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-default.panel-menu > .panel-heading{
    border: 1px solid #A0A8AB;
    background-color: #d1dade;
}

.panel-default > .panel-heading > .panel-title{
    font-weight: bold;
}

.panel-default.panel-menu > .panel-heading > .panel-title{
    color: #1E7AA9;
}

.panel-default.panel-submenu > .panel-heading{
    border: 1px solid #A0A8AB;
    background-color: #fff;
}

.login-container > .tiles.white {
  background-color: rgba(255, 255, 255, 0.61);
}

.text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-truncate-hover:hover{
    overflow: visible !important; 
    white-space: normal !important;
}

.datepicker {
    background-color: white !important;
}


.owl-custom-control-left {
    position: absolute;
    top: 45%;
    left: 0;
    cursor: pointer;
}

.owl-custom-control-right {
    position: absolute;
    top: 45%;
    right: 0;
    cursor: pointer;
}

#cumpleanios .grid-title {
    padding: 0;
    padding-top: 3px;
    text-align: center;
}

#cumpleanios .grid-body {
    padding: 0;
    text-align: center;
}

#cumpleanios .img-circle {
    margin-top: 6px!important;
    width: 70%!important;
    margin: auto;
}

.paginacion {
    text-align: center;
}


a.circle-avatar, div.circle-avatar{
/* make it responsive */
    max-width: 100%;
    width:80%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:80%;

    /* make it a cirkle */
    border-radius:50%;

    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 5px;
}

#bootstrap-media-lightbox-forward > .fa-chevron-circle-right::before , #bootstrap-media-lightbox-backward > .fa-chevron-circle-left::before  {
    background-color: black;
    border-radius: 5px;
    color: white;
    opacity: 0.6;
    padding: 5px;
}

.buscador-fila {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #e5e9ec;
    border-radius: 2px;
    margin-bottom: 5px;

}

.buscador-fila-seccion-izquierda {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10px;
}

.buscador-fila-seccion-izquierda h1 {
    margin-top: 0;
}

.buscador-fila-seccion-izquierda p {
    margin-bottom: 0;
}

.buscador-descripcion-contenido {
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.buscador-fila-seccion-derecha {
    margin: 5px 10px 5px auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.buscador-fila-seccion-derecha p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.buscador-descripcion-contenido {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: 100;
}

#resumen-resenas-contenido .progress {
    margin-bottom: 5px !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.iframe-contenido-curso {
    width: 100%;
    border: 0;
}

@media only screen and (max-width: 320px) {
    .iframe-contenido-curso {
        height: 200px;
    }
}

@media only screen and (max-width: 425px) and (min-width: 321px) {
    .iframe-contenido-curso {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    .iframe-contenido-curso {
        height: 400px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .iframe-contenido-curso {
        height: 480px;
    }
}

@media only screen and (min-width: 1024px) {
    .iframe-contenido-curso {
        height: 540px;
    }
}

.crear-resena {
   display: flex;
   justify-content: center;
   align-items: center;
}

.rating-container .glyphicon {
    font-size: 2rem;
}

.calificacion-body .rating-container .glyphicon {
    font-size: 1rem;
}

.calificacion-contenido {
    display: flex;
}

.calificacion-titulo {
    margin: 0;
}

.calificacion-comentario {
    margin-bottom: 0;
}

.calificacion-body {
    margin: 0 0 0 10px;
}

.calificacion-contenido hr {
    margin: 10px 0 !important;
}

.collapse-titulo {
    color: #505458;
    font-size: 1.8rem;
    margin-right: 10px;
    vertical-align: middle;
}

.collapse-accion {
    margin-right: 10px;
}

.contenido-leido {
    background-color: mintcream;
}

.etiqueta-contenido-leido {
    font-size: 1.8rem;
    float: right;
    vertical-align: middle;
}

/*ESTILOS PREMIOS*/
.nombre-categoria{   
    color: #1C4F6E;
    padding: 15px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    border-bottom: 2px solid #1C4F6E;
}
.nombre-sub-categoria {
    color: #1C4F6E;
    padding: 4px;
    text-align: center;
    margin: 0;
    font-weight: bold;
}
.categoria-item {
    border:2px solid #1C4F6E;
}
.sub-categoria-item {
    border: 2px solid #D2D2D2;
    background-color: #fbfbfb;
}
.item {margin-bottom:25px;}
.item:hover .nombre-categoria {color:#fff; background-color: #1C4F6E;}
.item:hover .categoria-item {border:4px solid #1C4F6E;}
.more {
    width: 25px;
    height: 25px;
    right: 0;
    margin-right: 25px;
    margin-top: -32px;
    position: absolute;
}
.redimir {
    width: 50%;
    margin: 10px auto;
    display: block;
}
.puntos {
    width: 100px;
    height: 100px;
    right: 0;
    margin-right: 12px;
    margin-top: -7px;
    position: absolute;
}
.quantity {
    color: red;
    font-size: 17px;
    line-height: 15px;
    margin-left: 26px;
    margin-top: -62px;
    position: absolute;
    text-align: center;
}
.detalle-redencion {
    padding: 4px 20px;
    margin-top: 10px;
}
.nowrap {
    white-space: nowrap;
}
.input-cantidad {
    border: 1px solid #1C4F6E;
    width: 50%;
    text-align: right;
}
.cantidad-puntos {
    margin-bottom: 0px;
}
.cantidad-puntos span {
    font-weight:bold;
    color:#C71B19;
}

.titulo-curso-destacado {
    background-color: #e1dbd4;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 10px 0px 10px 10px;
    margin: 0 !important;
    font-weight: 400;
}

.titulo-curso-destacado .glyphicon {
    font-size: 1.3rem;
}

.titulo-curso-destacado .rating-xs {
    font-size: 1rem;
}

.curso-destacado img {
    height: 250px;
    width: 100%;
}

.titulo-miscursos {
    background-color: #D1DADE;
    padding: 10px;
}

.titulo-miscursos a {
    color: #505458;
}

.modulo-dirigido {
    background-color: #BEE1E5;
}


/*organigrama*/
.nodo-organigrama {
    border: 1px solid black;
    padding: 2px;
    width: 300px;
}

.nodo-organigrama .node-title {
    font-weight: 600;
    margin:0;
}

.nodo-organigrama .node-name {
    margin: 0;
}

.nodo-organigrama img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;
}

#modal-perfil .modal-body {
    background-color: white;
}

#modal-perfil .modal-body h4 {
    margin: 3px 0 3px 0;
}

#modal-perfil .modal-body p {
    margin-bottom: 0px;
}

#modal-perfil .modal-header {
    /*background-color: #E5E9EC;*/
    border: none;
    text-align: center;
}

#modal-perfil img {
    height: 160px;
    width: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#widget-cuotas-extra {
    display: flex;
    justify-content: center;

}

.block {
    display: block !important;
}