.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.profile-pic {
    border-radius: 100px;
    display: inline-block;
    float: left;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.user-profile-pic{
    border-radius: 100px;
    display: inline-block;
    float: left;
    height: auto;
    overflow: hidden;
    /*max-width: 150px;*/
}

.navbar{
    vertical-align: middle;
}

img.ajustada {
    display: block;
    margin: auto;
    max-width: 100%;
}

ul.cbp_tmtimeline > li > div.cbp_tmlabel img {
    max-width: 100%;
}

.file-drop-zone-title {
    font-size: 14px !important;
    padding: 0px !important;
}

.file-preview {
    padding: 0 !important;
}

.redactor-editor {
    min-height: 10px !important;
    padding: 0 !important;
}

.redactor-box {
    margin-bottom: 5px !important;
}

.redactor-placeholder::after {
    top: 5px !important;
}

/*div.dataTables_length select {
    padding: 7px;
}*/

.data-tables-group {
    background-color: #bcbcbc;
}

/*table.table.dataTable > thead{
    background-color: #585858;
    color: #ffffff;
}*/

table.table.table-striped.table-bordered > thead > tr > th{
    color: #0d638f !important;
}

/*
.time-line-description{
    background-color: #ecf0f2;
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 15px 100px;
}*/

/*
.popover {
    background-color: #424242;
    opacity: 0.5;
}

.popover > .arrow::after {
    opacity: 0.5;
}

.popover.bottom > .arrow::after {
    border-bottom-color: #424242;
}

.popover.top > .arrow::after {
    border-top-color: #424242;
}

.popover.left > .arrow::after {
    border-left-color: #424242;
}

.popover.right > .arrow::after {
    border-right-color: #424242;
}

.popover-content {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}
*/
