/* GLOBAL STYLES OF PORTALS
-------------------------------------------------- */

.dataTable {
  clear: both;
  margin-top: 5px;
}
.dataTables_filter label {
  line-height: 32px !important;
}
.tabbable:after {
  clear: both;
}
.tabbable:before,
.tabbable:after {
  content: "";
  display: table;
  line-height: 0;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0 none;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  padding: 15px;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
  padding: 19px;
}
/*.tabs-below > .nav-tabs {
  border-top: 1px solid #DDDDDD;
}
.tabs-below > .nav-tabs > li {
  margin-bottom: 0;
  margin-top: -1px;
}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: rgba(0, 0, 0, 0) #dddddd #dddddd;
}*/
/*.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-bottom: 3px;
  margin-right: 0;
  min-width: 74px;
}
.tabs-left > .nav-tabs {
  border-right: 1px solid #DDDDDD;
  margin-right: 19px;
  float: left;
  margin-right: 0px;
}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: -1px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}*/
/*.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #EEEEEE #DDDDDD #EEEEEE #EEEEEE;
}*/
/*.tabs-right > .nav-tabs {
  border-left: 1px solid #DDDDDD;
  margin-left: 19px;
  float: right;
  margin-left: 0px;
}*/
/*.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}*/
/*.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #EEEEEE #EEEEEE #EEEEEE #DDDDDD;
}*/
.nav > .disabled > a {
  background-color: ;
  color: #999999;
}
/*.nav .tools {
  float: right;
  position: relative;
  right: 10px;
  top: 10px;
}*/
/*.nav .tools a {
  position: relative;
  background: url('../img/icon/portlet-tray.png') no-repeat;
  transition: all 0.1s linear 0s;
}*/
/*.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  text-decoration: none;
}
*/
[data-role="data-tables-texto-busqueda"] {
  margin: 5px;
}

.nav-tabs {
  margin-bottom: 0px;
  background-color: #B4B7B8;
  padding: 0;
}

.nav-tabs.timeline{
    background-color: #fff;
}

.nav-tabs.timeline{
    border-bottom: none;
}

.nav-tabs > li {
  /*margin-bottom: -3px;*/
  padding-left: 0;
}
.nav-tabs > li > a {
  border-radius: 0;
  border: 0px;
  padding: 15px 20px;
  color: #fff;
  min-width: 70px;
}
.nav-tabs.timeline > li > a {
  /*padding: 10px;*/
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-width: 0px;
}

.nav-tabs > li:not(.active) > a:hover {
  background-color: #3E3E3E;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border: 0px;
  color: #505458;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.table > thead > tr > th {
  border-bottom: 0px;
}
.table th {
  border-top: 1px solid #e8edf1;
  padding: 10px 12px;
  font-size: 12px;
  text-transform: uppercase;
}
.table th.medium-cell {
  width: 112px;
}
.table th.big-cell {
  width: 200px;
}
.table tr.row_selected td {
  background-color: #ffffcc !important;
}
.table tr.row_selected .progress {
  background-color: #ffffff;
}
.table td {
  border-top: 1px solid #e8edf1;
  vertical-align: top;
  padding: 10px 12px !important;
  color: #576475;
  font-size: 13px;
}
.table td.no-border {
  border: none;
}
.table td:first-child {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table td:last-child {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table td .progress {
  margin-bottom: 0px;
}
.table td .muted {
  color: #95989a;
}
.table td.clickable {
  cursor: pointer;
}
.table .checkbox {
  margin-left: 3px;
}
.table .star {
  margin-left: 3px;
}
th {
  text-align: left;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px;
}
.table th input[type="radio"],
input[type="checkbox"],
.table td input[type="radio"],
input[type="checkbox"] {
  margin-top: -2px;
}
.table td.small-cell,
.table th.small-cell {
  width: 40px;
}
.table-fixed-layout {
  table-layout: fixed;
}
.table-fixed-layout td {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 9px;
}
.table-condensed th .checkbox {
  margin-left: 4px;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e8edf1;
}
.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #ecf0f2;
  border: none;
}
.table-striped tbody > tr > td {
  border: 0px;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #e2e8eb;
}
.table-hover tbody tr.row_selected:hover > td {
  background-color: #fef8ae !important;
}
.table-hover tbody tr:hover > td .progress {
  background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
  padding: 10px 5px;
}
.table-tools-actions {
  margin: 0px 5px;
}
.inner-table td {
  background-color: transparent !important;
}
.table-bordered {
  border-color: #e8edf1 !important;
}
.table-bordered th {
  background-color: #ecf0f2;
  border: 0 !important;
}
.table-bordered td {
  border: 1px solid #e8edf1 !important;
}
.table-bordered td:first-child {
  border-radius: 0px;
}
.table-bordered td:last-child {
  border-radius: 0px;
}

.dataTables_wrapper .pagination ul {
  box-shadow: none;
  font-size: 12px;
  padding: 0;
}
.dataTables_wrapper .pagination ul > li {
  display: inline-block;
  padding-left: 0px;
}
.dataTables_wrapper .pagination ul > li > a {
  padding: 5px 10px;
}
.dataTables_wrapper .pagination ul > li.next > a:hover {
  background-color: #ffffff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.next.disabled > a:hover {
  color: #C2C6CB;
  opacity: 0.65;
  background-color: #ffffff;
}
.dataTables_wrapper .pagination ul > li.prev > a:hover {
  background-color: #ffffff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.prev.disabled > a:hover {
  color: #C2C6CB;
  opacity: 0.65;
  background-color: #ffffff;
}
.dataTables_wrapper .pagination ul > li:last-child > a,
.dataTables_wrapper .pagination ul > li:last-child > span {
  margin-left: -8px;
}
.dataTables_wrapper .pagination ul > li > a,
.pagination ul > li > span {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  color: #6F7B8A;
}
.dataTables_wrapper .pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #C2C6CB !important;
  opacity: 0.65 !important;
  background-color: #ffffff !important;
}
.dataTables_wrapper .pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #F3F6F9;
  font-weight: 600;
}
.dataTables_wrapper .pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #e8edf3;
}