/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.site-error {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 100px 26px 80px 26px;
}

.modal.map .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 10px;
    border: 0;
    z-index: 1;
    text-align: center;
}

.modal.map .modal-body {
    position: absolute;
    top: 0;
    bottom: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

.modal.map .modal-footer {
    position:absolute; 
    bottom: 0px; 
    width:100%; 
    height: 50px;
    border: none;
    text-align: center;
}

.modal-footer > .buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.modal-header > .selects {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.modal.map .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0!important;
    padding: 0!important;
}

.modal.map .modal-content {
    width: 100vw;
    height: 100vh;
}

.modal-footer {
}

.modal-body {
    /*height: 100%;*/
}

/*.modal.map .select2-container .select2-selection--single .select2-selection__rendered{
    color: #444;
    line-height: 28px;
    padding: 0;
}

.select2-results__option--highlighted[aria-selected]{
    background-color:#ea0001 !important;
    color:white !important;
}*/

.map-content{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

/*.presentacion-fraccionado,
.presentacion-unitario,*/

.nombre-producto,
.precio-base,
.precio-real {
    color: #EA0001;
}

.nombre-producto {
    font-size: 1.8em;
}

.presentacion-producto {
    margin-bottom: 0px;
}

.codio-producto {
    margin-bottom: 0px;
}

.info-unitario {
    background-color: #ebebeb;
}

.info-fraccionado {
    border: solid 1px #ebebeb;
}

.presentacion-fraccionado,
.presentacion-unitario {
    font-weight: bold;
    color: #666;
    font-size: 1.4em;
}

.precio-base {
    text-decoration: line-through;
    font-size: 2.0em;
}

.precio-real {
    font-size: 2.3em;
}

.ahorro {
    font-size: 1.4em;
}

.info-producto hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px dashed #999;
}

/*.info-producto {
    border-left: 1px dashed #999;
}*/

.vr {
    border-left: 1px dashed #999;
    height:640px;
    height: 40rem;
}

.ahora {
    font-weight: bold;
    font-size:32px;
    font-size: 2rem;
    color: #EA0001;
}

.antes {
    font-size:22.4px;
    font-size: 1.4rem;
}

.tachado {
    text-decoration: line-through;
}

.product-prom{
    margin: 0 auto;
}

.ad-gallery .ad-thumbs li a.ad-active img {
    border: 3px solid #ea0001;
}
.ad-gallery .ad-thumbs li a img {
    max-width: 70px;
}

.ad-gallery {
    margin: 0 auto;
    display: block;
}

.mapa-producto {
    width: 100%;
}

@media only screen and (max-width: 320px) {
    .info-unitario, .info-fraccionado{
        height: 240px !important;
    }

    .mapa-producto {
        height: 350px;
    }

    .selects {
        width: 100%;
    }

    .x-navigation-control {
        padding-right: 1px !important;
    }
    .fa-map-marker {
        color: white !important;
    }
    .x-navigation-horizontal {
        display: none!important;
    }
}

@media only screen and (max-width: 375px) and (min-width: 321px) {
    .info-unitario, .info-fraccionado{
        height: 250px ;
    }

    .mapa-producto {
        height: 360px;
    }
    .selects {
        width: 100%;
    }

    .x-navigation-horizontal {
        display: none!important;
    }
}

@media only screen and (max-width: 425px) and (min-width: 376px) {
    .info-unitario, .info-fraccionado{
        height: 250px !important;
    }

    .mapa-producto {
        height: 400px;
    }
    .selects {
        width: 100%;
    }

    .x-navigation-horizontal {
        display: none!important;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    .info-unitario, .info-fraccionado {
        height: 260px !important;
    }

    .mapa-producto {
        height: 400px;
    }

    .selects {
        width: 100%;
    }

    .x-navigation-horizontal {
        display: none!important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .info-unitario, .info-fraccionado {
        height: 250px !important;
    }

    .mapa-producto {
        height: 450px;
    }

    .selects {
        width: 70%;
    }
    
    .x-navigation-horizontal {
        display: none!important;
    }
    
    .profile-image {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .info-unitario, .info-fraccionado {
        height: 270px !important;
    }

    .mapa-producto {
        height: 460px;
    }

    .selects {
        width: 50%;
    }
    .cambio-ubicacion-small {
        display: none!important;
    }
}

.cambio-ubicacion {
    color: #343434 !important;
}

.cambio-ubicacion span {
    margin-right: 0px !important;
}
.cambio-ubicacion:hover {
    color: #1caf9a !important;
}

svg { width: 100%; }

.profile-controls a:hover {
  border-color: #1caf9a!important;
  color: #1caf9a!important;
}
/*
.blueimp-gallery-controls > .close {
  color: black !important;
}*/

.chocolat-overlay {
    background-color: #999!important;
}

.separator {
    border-bottom: solid 1px #bac8ce;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chocolat-image img {
    padding: 3px;
    margin: 3px 0px 3px 0px;
}

.x-navigation.x-navigation-minimized .title {
    display: none;
}

.xn-logo img {
    position: absolute;
    top: 0;
    left: 0;
}
.cambio-ubicacion-small {
    color: #343434 !important;
    font-size: 1rem !important;
    float: left;
}
.cambio-ubicacion-hover {
    color: white !important;
}

.x-navigation-control:before {
    color: #343434 !important;
}

.x-navigation-control:hover {
  background-color: #1caf9a!important;
}

.x-navigation-control {
    left: 0 !important;
}