/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.site-error {
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 100px 26px 80px 26px;
}

.modal.map .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    padding: 10px;
    border: 0;
    z-index: 1;
    text-align: center;
}

.modal.map .modal-body {
    position: absolute;
    top: 0;
    bottom: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

.modal.map .modal-footer {
    position:absolute; 
    bottom: 0px; 
    width:100%; 
    height: 50px;
    border: none;
    text-align: center;
}

.modal-footer > .buttons {
    display: inline-flex;
}

.modal-header > .selects {
    display: inline-flex;
}

.modal.map .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0!important;
    padding: 0!important;
}

.modal.map .modal-content {
    width: 100vw;
    height: 100vh;
}

.modal-footer {
}

.modal-body {
    /*height: 100%;*/
}

/*.modal.map .select2-container .select2-selection--single .select2-selection__rendered{
    color: #444;
    line-height: 28px;
    padding: 0;
}

.select2-results__option--highlighted[aria-selected]{
    background-color:#ea0001 !important;
    color:white !important;
}*/

.map-content{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

/*.presentacion-fraccionado,
.presentacion-unitario,*/

.nombre-producto,
.precio-base,
.precio-real {
    color: #EA0001;
}

.nombre-producto {
    font-size: 1.8em;
}

.presentacion-producto {
    margin-bottom: 0px;
}

.codio-producto {
    margin-bottom: 0px;
}

.info-unitario {
    background-color: #ebebeb;
}

.info-fraccionado {
    border: solid 1px #ebebeb;
}

.presentacion-fraccionado,
.presentacion-unitario {
    font-weight: bold;
    color: #666;
    font-size: 1.4em;
}

.precio-base {
    text-decoration: line-through;
    font-size: 2.0em;
}

.precio-real {
    font-size: 2.3em;
}

.ahorro {
    font-size: 1.4em;
}

.info-producto hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px dashed #999;
}

/*.info-producto {
    border-left: 1px dashed #999;
}*/

.vr {
    border-left: 1px dashed #999;
    height: 40rem;
}

.ahora {
    font-weight: bold;
    font-size: 2rem;
    color: #EA0001;
}

.antes {
    font-size: 1.4rem;
}

.tachado {
    text-decoration: line-through;
}

.product-prom{
    margin: 0 auto;
}

.ad-gallery .ad-thumbs li a.ad-active img {
    border: 3px solid #ea0001;
}
.ad-gallery .ad-thumbs li a img {
    max-width: 70px;
}

.ad-gallery {
    margin: 0 auto;
    display: block;
}

.mapa-producto {
    width: 100%;
}

@media only screen and (max-width: 320px) {
    .info-unitario, .info-fraccionado{
        height: 240px !important;
    }

    .mapa-producto {
        height: 350px;
    }
}

@media only screen and (max-width: 375px) and (min-width: 321px) {
    .info-unitario, .info-fraccionado{
        height: 250px ;
    }

    .mapa-producto {
        height: 360px;
    }
}

@media only screen and (max-width: 425px) and (min-width: 376px) {
    .info-unitario, .info-fraccionado{
        height: 250px !important;
    }

    .mapa-producto {
        height: 400px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
    .info-unitario, .info-fraccionado {
        height: 260px !important;
    }

    .mapa-producto {
        height: 400px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .info-unitario, .info-fraccionado {
        height: 250px !important;
    }

    .mapa-producto {
        height: 450px;
    }
}

@media only screen and (min-width: 1025px) {
    .info-unitario, .info-fraccionado {
        height: 270px !important;
    }

    .mapa-producto {
        height: 460px;
    }

    .selects {
        width: 50%;
    }
}

.cambio-ubicacion {
    color: #343434 !important;
}

.cambio-ubicacion span {
    margin-right: 0px !important;
}
.cambio-ubicacion:hover {
    color: #1caf9a !important;
}

.salir a{
    color: #343434 !important;
}

.salir:hover {
    color: #1caf9a !important;
}
svg { width: 100%; }